.home-containers {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.background-images {
  position: relative;
  width: 100%;
  height: 100%;
}

.background-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.leaderBoard-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
}

.heading-leader {
  margin-top: 110px;
  font-weight: bold;
  color: white;
  font-size: 2.2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.leaderboard-rows {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leaderboard-row {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  width: 60%;
  margin: 5px auto;
  padding: 15px;
  background-color: rgba(0, 102, 245, 0.296);
  color: whitesmoke;
  font-size: 1.2rem;
  font-weight: bold;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.2);
  border-radius: 49px;
  border: 2px solid #269cbc;
  background: rgba(16, 40, 86, 0.8);
  transition: transform 0.5s ease-in-out; /* Add a smooth transition */
}

/* Add a class for new high scores */
.new-high-score {
  background-color: rgba(0, 255, 0, 0.3); /* Customize the background color for new high scores */
}

.row-number,
.row-text,
.row-points {
  flex: 1;
  text-align: center;
  color: #fff;
  font-family: Prompt;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.row-text {
  font-size: 16px;
}

.row-number {
  font-weight: bold;
  text-align: left;
  margin-left: 2rem;
}

.row-points {
  text-align: right;
  margin-right: 2rem;
}

@media screen and (max-width: 768px) {
  .leaderboard-row {
    width: 80%;
    font-size: 0.7rem;
  }

  .heading-leader {
    margin-top: 95px;
    font-size: 1.4rem;
  }

  .row-number,
  .row-text,
  .row-points {
    flex: 1;
    font-size: 15px;
  }
}


@keyframes shuffleAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.leaderboard-row {
  animation: shuffleAnimation 1s ease-in-out;
}



